{
	"Kit" : [
		{ "Menu" : "Session" },
		{ "Menu" : "Edit" },
		{ "Menu" : "Search" },
		{ "Menu" : "Selection" },
		{ "Menu" : "Goto" },
		{ "Menu" : "View" },
		{ "Menu" : "Mode" },
		{ "Menu" : "Tool" },
		{ "Menu" : "Window" },
		{ "Menu" : "Help" }
	],
	"Kit More" : [
		{ "Separator" : "Text" },
		{ "Action" : "Text.Copy" },
		{ "Action" : "Text.Paste" },
		{ "Action" : "Terminal.PasteSelectedText" },
		{ "Separator" : true },
		{ "Action" : "Terminal.Save" },
		{ "Separator" : "Toggle" },
		{ "Action" : "Text.ToggleWordWrap" },
		{ "Action" : "Text.ToggleLineEnding" },
		{ "Action" : "Text.ToggleWrapSymbol" },
		{ "Separator" : "Window" },
		{ "Action" : "Text.ZoomIn" },
		{ "Action" : "Text.ZoomOut" },
		{ "Separator" : true },
		{ "Action" : "Window.SplitViewHorizontally" },
		{ "Action" : "Window.SplitViewVertically" },
		{ "Action" : "Window.ToggleFullScreen" }
	],
	"Dock" : [
		{ "Action" : "Window.SplitDock" },
		{ "Action" : "Window.ToggleDockFloating" },
		{ "Separator" : true },
		{ "Action" : "Dock.TogglePaneExplorer" },
		{ "Action" : "Dock.TogglePaneFiler" },
		{ "Action" : "Dock.TogglePaneOutline" },
		{ "Action" : "Dock.TogglePaneSender" },
		{ "Action" : "Dock.TogglePaneSession" },
		{ "Action" : "Dock.TogglePaneShell" },
		{ "Action" : "Dock.TogglePaneTransfer" }
	],
	"Layout" : [
		{ "Action" : "Window.ToggleLeftDockArea" },
		{ "Action" : "Window.ToggleRightDockArea" },
		{ "Action" : "Window.ToggleBottomDockArea" },
		{ "Separator" : true },
		{ "Action" : "Window.ToggleMenuBar" },
		{ "Action" : "Window.ToggleStatusBar" },
		{ "Action" : "Window.ToggleQuickBar" },
		{ "Separator" : true },
		{ "Action" : "Window.TogglePaneExplorer" },
		{ "Action" : "Window.TogglePaneFiler" },
		{ "Action" : "Window.TogglePaneOutline" },
		{ "Action" : "Window.TogglePaneSender" },
		{ "Action" : "Window.TogglePaneSession" },
		{ "Action" : "Window.TogglePaneShell" },
		{ "Action" : "Window.TogglePaneTransfer" }
	],
	"MuxPaneGroup" : [
		{ "Action" : "Mux.TogglePaneZoom" },
		{ "Action" : "Mux.MovePaneToNewWindow" },
		{ "Separator" : true },
		{ "Action" : "Mux.SplitPaneUp" },
		{ "Action" : "Mux.SplitPaneDown" },
		{ "Action" : "Mux.SplitPaneLeft" },
		{ "Action" : "Mux.SplitPaneRight" },
		{ "Separator" : true },
		{ "Action" : "Mux.RenamePane" },
		{ "Action" : "Mux.RenameWindow" },
		{ "Action" : "Tmux.RenameSession" }
	],
	"Open Recent" : [
		{ "Action" : "Window.ReopenClosedView" },
		{ "Separator" : true },
		{ "Action" : "Window.RecentUrls" },
		{ "Separator" : true },
		{ "Action" : "Window.ClearRecentUrls" }
	],
	"Navigation List" : [
		{ "Action" : "Window.NavigationList" }
	],
	"Filer History" : [
		{ "Action" : "FilerPane.RecentPaths" }
	],
	"Filer More" : [
		{ "Action" : "FilerPane.GoBackward" },
		{ "Action" : "FilerPane.GoForward" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.Download" },
		{ "Action" : "FilerPane.Upload" },
		{ "Action" : "FilerPane.CopyTo" },
		{ "Action" : "FilerPane.CopyFrom" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.Remove" },
		{ "Action" : "FilerPane.Rename" },
		{ "Action" : "FilerPane.MoveTo" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.NewDirectory" },
		{ "Action" : "FilerPane.NewFile" },
		{ "Action" : "FilerPane.NewLink" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.SetDefaultEditor" },
		{ "Action" : "FilerPane.ToggleHiddenItems" }
	],
	"Explorer Popup": [
		{ "Menu" : "Set Tab &Color", "Actions" : [
			{ "Action" : "Window.SetTabColor" },
			{ "Separator" : true },
			{ "Action" : "Window.SetTabColorDarkCyan" },
			{ "Action" : "Window.SetTabColorDeepPink" },
			{ "Action" : "Window.SetTabColorForestGreen" },
			{ "Action" : "Window.SetTabColorGoldenrod" },
			{ "Action" : "Window.SetTabColorIndianRed" },
			{ "Action" : "Window.SetTabColorMediumOrchid" },
			{ "Action" : "Window.SetTabColorMediumSlateBlue" },
			{ "Action" : "Window.SetTabColorOlive" },
			{ "Action" : "Window.SetTabColorRed" },
			{ "Action" : "Window.SetTabColorRoyalBlue" },
			{ "Action" : "Window.SetTabColorSteelBlue" },
			{ "Action" : "Window.SetTabColorTeal" },
			{ "Separator" : true },
			{ "Action" : "Window.SetTabColorEmpty" }
		]},
		{ "Separator" : true },
		{ "Menu" : "&Sync Input", "Actions" : [
			{ "Action" : "Terminal.JoinSyncChannelA" },
			{ "Action" : "Terminal.JoinSyncChannelB" },
			{ "Action" : "Terminal.JoinSyncChannelC" },
			{ "Action" : "Terminal.JoinSyncChannelD" },
			{ "Separator" : true },
			{ "Action" : "Terminal.LeaveSyncChannels" }
		]},
		{ "Separator" : true },
		{ "Action" : "Window.DuplicateView" },
		{ "Action" : "Window.RenameView" },
		{ "Separator" : true },
		{ "Action" : "Terminal.CopySessionName" },
		{ "Action" : "Terminal.CopySessionUrl" },
		{ "Separator" : true },
		{ "Action" : "Terminal.ReconnectSession" },
		{ "Action" : "Terminal.Save" },
		{ "Separator" : true },
		{ "Action" : "Window.SplitViewHorizontally" },
		{ "Action" : "Window.SplitViewVertically" },
		{ "Separator" : true },
		{ "Menu" : "&Split To Group", "Actions" : [
			{ "Action" : "Window.SplitViewToLeftGroup" },
			{ "Action" : "Window.SplitViewToRightGroup" },
			{ "Action" : "Window.SplitViewToTopGroup" },
			{ "Action" : "Window.SplitViewToBottomGroup" }
		]},
		{ "Menu" : "&Move To Group", "Actions" : [
			{ "Action" : "Window.MoveViewToGroup" }
		]},
		{ "Separator" : true },
		{ "Action" : "Window.CloseActiveView" },
		{ "Action" : "Window.CloseAllViews" },
		{ "Action" : "Window.CloseAllViewsButActive" },
		{ "Action" : "Window.CloseRightViews" },
		{ "Separator" : true },
		{ "Action" : "Window.ReopenClosedView" },
		{ "Separator" : true },
		{ "Action" : "Terminal.OpenSessionSettings" }
	],
	"Filer Popup": [
		{ "Action" : "FilerPane.Refresh" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.Open" },
		{ "Action" : "FilerPane.OpenWithDefaultEditor" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.Remove" },
		{ "Action" : "FilerPane.Rename" },
		{ "Action" : "FilerPane.MoveTo" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.Download" },
		{ "Action" : "FilerPane.Upload" },
		{ "Action" : "FilerPane.CopyTo" },
		{ "Action" : "FilerPane.CopyFrom" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.MakeDirectory" },
		{ "Action" : "FilerPane.MakeFile" },
		{ "Action" : "FilerPane.MakeLink" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.CopyDirectoryPath" },
		{ "Action" : "FilerPane.CopyDirectoryPathToTerminal" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.CopySelectedNames" },
		{ "Action" : "FilerPane.CopySelectedPaths" },
		{ "Action" : "FilerPane.CopySelectedNamesToTerminal" },
		{ "Action" : "FilerPane.CopySelectedPathsToTerminal" },
		{ "Separator" : true },
		{ "Action" : "FilerPane.Property" }
	],
	"Outline More" : [
		{ "Action" : "OutlinePane.ToggleSymbolPreview" }
	],
	"Outline Popup": [
		{ "Action" : "OutlinePane.GotoSymbol" },
		{ "Action" : "OutlinePane.PreviewSymbol" },
		{ "Separator" : true },
		{ "Action" : "OutlinePane.Copy" },
		{ "Action" : "OutlinePane.CopyToTerminal" },
		{ "Separator" : true },
		{ "Action" : "OutlinePane.CopyOutput" },
		{ "Separator" : true },
		{ "Action" : "OutlinePane.Execute" },
		{ "Action" : "OutlinePane.RepeatedlyExecute" }
	],
	"Session Popup": [
		{ "Action" : "SessionPane.Open" },
		{ "Separator" : true },
		{ "Action" : "SessionPane.Duplicate" },
		{ "Action" : "SessionPane.MoveTo" },
		{ "Action" : "SessionPane.Remove" },
		{ "Separator" : true },
		{ "Action" : "SessionPane.NewSession" },
		{ "Menu" : "&Import", "Actions" : [
			{ "Action" : "SessionPane.ImportOpensshSessions" },
			{ "Action" : "SessionPane.ImportPuttySessions" },
			{ "Action" : "SessionPane.ImportShellSessions" }
		]},
		{ "Separator" : true },
		{ "Action" : "SessionPane.Property" }
	],
	"TabGroup Popup": [
		{ "Action" : "Window.SplitGroupHorizontally" },
		{ "Action" : "Window.SplitGroupVertically" },
		{ "Separator" : true },
		{ "Menu" : "&Merge To Group", "Actions" : [
			{ "Action" : "Window.MoveGroupToGroup" }
		]},
		{ "Separator" : true },
		{ "Action" : "Window.CloseActiveGroup" }
	],
	"Transfer Popup": [
		{ "Action" : "TransferPane.OpenTargetDirectory" },
		{ "Separator" : true },
		{ "Action" : "TransferPane.Pause" },
		{ "Action" : "TransferPane.Remove" }
	],
	"View Popup" : [
		{ "Action" : "Text.Copy" },
		{ "Action" : "Terminal.CopyCommand" },
		{ "Separator" : true },
		{ "Action" : "Terminal.Cut" },
		{ "Action" : "Text.Paste" },
		{ "Action" : "Terminal.PasteSelectedText" },
		{ "Separator" : true },
		{ "Action" : "Text.HighlightTextBar" },
		{ "Action" : "Text.HighlightText" },
		{ "Separator" : true },
		{ "Action" : "Text.Find" },
		{ "Menu" : "&Search Online", "Actions" : [
			{ "Action" : "Text.SearchOnline" }
		]},
		{ "Separator" : true },
		{ "Action" : "Terminal.ClearScrollback" },
		{ "Action" : "Terminal.ClearScreen" },
		{ "Action" : "Terminal.ClearScreenAndScrollback" },
		{ "Separator" : true },
		{ "Action" : "Terminal.SelectAll" },
		{ "Action" : "Terminal.SelectCommand" },
		{ "Separator" : true },
		{ "Action" : "Terminal.MoveToPreviousCommand" },
		{ "Action" : "Terminal.MoveToNextCommand" },
		{ "Separator" : true },
		{ "Action" : "Terminal.ManageSessionTriggers" },
		{ "Separator" : true },
		{ "Menu" : "&Transfer Binary", "Actions" : [
			{ "Action" : "Terminal.SendXModem" },
			{ "Action" : "Terminal.SendYModem" },
			{ "Action" : "Terminal.SendZModem" },
			{ "Separator" : true },
			{ "Action" : "Terminal.ReceiveXModem" },
			{ "Action" : "Terminal.ReceiveYModem" },
			{ "Action" : "Terminal.ReceiveZModem" },
			{ "Separator" : true },
			{ "Action" : "Terminal.CancelModem" }
		]},
		{ "Separator" : true },
		{ "Menu" : "&Log", "Actions" : [
			{ "Action" : "Terminal.StartLogger" },
			{ "Action" : "Terminal.StopLogger" },
			{ "Separator" : true },
			{ "Action" : "Terminal.PauseLogger" },
			{ "Action" : "Terminal.ResumeLogger" },
			{ "Separator" : true },
			{ "Action" : "Terminal.OpenLogFile" },
			{ "Action" : "Terminal.OpenLogFolder" },
			{ "Separator" : true },
			{ "Action" : "Terminal.OpenLogSettings" }
		]},
		{ "Separator" : true },
		{ "Menu" : "&Reset", "Actions" : [
			{ "Action" : "Terminal.ResetHard" },
			{ "Action" : "Terminal.ResetSoft" },
			{ "Action" : "Terminal.ResetCharacterSet" }
		]}
	],
	"View Margin Popup" : [
		{ "Action" : "Text.ToggleMarginBlank" },
		{ "Action" : "Text.ToggleMarginNumber" },
		{ "Action" : "Text.ToggleMarginFold" },
		{ "Action" : "Text.ToggleMarginSymbol" },
		{ "Action" : "Text.ToggleMarginTimestamp" },
		{ "Separator" : true },
		{ "Menu" : "&Symbols", "Actions" : [
			{ "Action" : "Text.ToggleLineEnding" },
			{ "Separator" : true },
			{ "Action" : "Text.ToggleColumnMarker" },
			{ "Action" : "Text.ToggleIndentGuide" },
			{ "Action" : "Text.ToggleWrapSymbol" }
		]},
		{ "Menu" : "&White Spaces", "Actions" : [
			{ "Action" : "Text.HideWhiteSpace" },
			{ "Separator" : true },
			{ "Action" : "Text.ShowWhiteSpaceAll" },
			{ "Action" : "Text.ShowWhiteSpaceInSelection" },
			{ "Action" : "Text.ShowWhiteSpaceInLineStart" },
			{ "Action" : "Text.ShowWhiteSpaceInLineEnd" }
		]},
		{ "Separator" : true },
		{ "Menu" : "&Folds", "Actions" : [
			{ "Action" : "Text.Fold" },
			{ "Action" : "Text.Unfold" },
			{ "Separator" : true },
			{ "Action" : "Text.FoldInside" },
			{ "Action" : "Text.UnfoldInside" },
			{ "Separator" : true },
			{ "Action" : "Text.FoldAll" },
			{ "Action" : "Text.UnfoldAll" }
		]},
		{ "Separator" : true },
		{ "Menu" : "&Zoom", "Actions" : [
			{ "Action" : "Text.ZoomIn" },
			{ "Action" : "Text.ZoomOut" },
			{ "Separator" : true },
			{ "Action" : "Text.ResetZoom" }
		]}
	],
	"View Shift Popup" : [
	],
	"View Ctrl Popup" : [
		{ "Action" : "Text.Copy" },
		{ "Action" : "Text.Paste" },
		{ "Action" : "Terminal.PasteSelectedText" }
	],
	"View Alt Popup" : [
	],
	"View Meta Popup" : [
	],
	"ViewTab Popup" : [
		{ "Menu" : "Set Tab &Color", "Actions" : [
			{ "Action" : "Window.SetTabColor" },
			{ "Separator" : true },
			{ "Action" : "Window.SetTabColorDarkCyan" },
			{ "Action" : "Window.SetTabColorDeepPink" },
			{ "Action" : "Window.SetTabColorForestGreen" },
			{ "Action" : "Window.SetTabColorGoldenrod" },
			{ "Action" : "Window.SetTabColorIndianRed" },
			{ "Action" : "Window.SetTabColorMediumOrchid" },
			{ "Action" : "Window.SetTabColorMediumSlateBlue" },
			{ "Action" : "Window.SetTabColorOlive" },
			{ "Action" : "Window.SetTabColorRed" },
			{ "Action" : "Window.SetTabColorRoyalBlue" },
			{ "Action" : "Window.SetTabColorSteelBlue" },
			{ "Action" : "Window.SetTabColorTeal" },
			{ "Separator" : true },
			{ "Action" : "Window.SetTabColorEmpty" }
		]},
		{ "Menu" : "&Sync Input", "Actions" : [
			{ "Action" : "Terminal.JoinSyncChannelA" },
			{ "Action" : "Terminal.JoinSyncChannelB" },
			{ "Action" : "Terminal.JoinSyncChannelC" },
			{ "Action" : "Terminal.JoinSyncChannelD" },
			{ "Separator" : true },
			{ "Action" : "Terminal.LeaveSyncChannels" }
		]},
		{ "Action" : "Window.RenameView" },
		{ "Separator" : true },
		{ "Action" : "Terminal.DuplicateSession" },
		{ "Action" : "Terminal.DuplicateSSHChannel" },
		{ "Separator" : true },
		{ "Action" : "Terminal.CopySessionName" },
		{ "Action" : "Terminal.CopySessionUrl" },
		{ "Separator" : true },
		{ "Action" : "Terminal.ReconnectSession" },
		{ "Action" : "Terminal.Save" },
		{ "Separator" : true },
		{ "Action" : "Window.SplitViewHorizontally" },
		{ "Action" : "Window.SplitViewVertically" },
		{ "Separator" : true },
		{ "Menu" : "&Split To Group", "Actions" : [
			{ "Action" : "Window.SplitViewToLeftGroup" },
			{ "Action" : "Window.SplitViewToRightGroup" },
			{ "Action" : "Window.SplitViewToTopGroup" },
			{ "Action" : "Window.SplitViewToBottomGroup" }
		]},
		{ "Menu" : "&Move To Group", "Actions" : [
			{ "Action" : "Window.MoveViewToGroup" }
		]},
		{ "Separator" : true },
		{ "Action" : "Window.CloseActiveView" },
		{ "Action" : "Window.CloseAllViews" },
		{ "Action" : "Window.CloseAllViewsButActive" },
		{ "Action" : "Window.CloseRightViews" },
		{ "Separator" : true },
		{ "Action" : "Window.ReopenClosedView" },
		{ "Separator" : true },
		{ "Action" : "Terminal.OpenSessionSettings" }
	],
	"Session" : [
		{ "Action" : "Terminal.NewSession" },
		{ "Action" : "Application.NewWindow" },
		{ "Separator" : true },
		{ "Action" : "Terminal.DisconnectSession" },
		{ "Action" : "Terminal.ReconnectSession" },
		{ "Separator" : true },
		{ "Action" : "Terminal.OpenSession" },
		{ "Menu" : "Open Rece&nt"},
		{ "Separator" : true },
		{ "Action" : "Terminal.Save" },
		{ "Action" : "Terminal.SaveSelectionAs" },
		{ "Separator" : true },
		{ "Menu" : "&Log", "Actions" : [
			{ "Action" : "Terminal.StartLogger"},
			{ "Action" : "Terminal.StopLogger"},
			{ "Separator" : true },
			{ "Action" : "Terminal.PauseLogger"},
			{ "Action" : "Terminal.ResumeLogger"},
			{ "Separator" : true },
			{ "Action" : "Terminal.OpenLogFile"},
			{ "Action" : "Terminal.OpenLogFolder"},
			{ "Separator" : true },
			{ "Action" : "Terminal.OpenLogSettings"}
		]},
		{ "Separator" : true },
		{ "Menu" : "&Preferences", "Actions" : [
			{ "Action" : "Window.OpenSettings" },
			{ "Action" : "Terminal.OpenSessionSettings" },
			{ "Action" : "Terminal.OpenDefaultSessionSettings" },
			{ "Separator" : true },
			{ "Action" : "Application.OpenProfileDialog" }
		]},
		{ "Separator" : true },
		{ "Action" : "Window.CloseActiveView" },
		{ "Action" : "Window.CloseAllViews" },
		{ "Action" : "Window.Close" },
		{ "Separator" : true },
		{ "Action" : "Application.Exit" }
	],
	"Edit" : [
		{ "Action" : "Text.Copy" },
		{ "Action" : "Text.Paste" },
		{ "Action" : "Terminal.PasteSelectedText" },
		{ "Separator" : true },
		{ "Action" : "Terminal.CopySessionName" },
		{ "Action" : "Terminal.CopySessionUrl" },
		{ "Separator" : true },
		{ "Menu" : "&IntelliSense", "Actions" : [
			{ "Action" : "Terminal.CompleteHistory" }
		]}
	],
	"Search" : [
		{ "Action" : "Text.Find" },
		{ "Menu" : "&Search Online", "Actions" : [
			{ "Action" : "Text.SearchOnline" }
		]},
		{ "Separator" : true },
		{ "Action" : "Text.FindNext" },
		{ "Action" : "Text.FindPrevious" },
		{ "Action" : "Text.FindNextSelection" },
		{ "Action" : "Text.FindPreviousSelection" },
		{ "Separator" : true },
		{ "Action" : "Text.HighlightText" }
	],
	"Selection" : [
		{ "Menu" : "&Select", "Actions" : [
			{ "Action" : "Text.SelectAll" },
			{ "Separator" : true },
			{ "Action" : "Text.SelectWord" },
			{ "Action" : "Text.SelectLine" },
			{ "Action" : "Text.SelectParagraph" },
			{ "Separator" : true },
			{ "Action" : "Text.SelectPair" },
			{ "Action" : "Text.SelectCommand" },
			{ "Action" : "Text.SelectFold" },
			{ "Action" : "Text.SelectScope" },
			{ "Action" : "Text.SelectIndentation" }
		]},
		{ "Menu" : "Select &To", "Actions" : [
			{ "Action" : "Text.SelectToPreviousChar" },
			{ "Action" : "Text.SelectToPreviousWordStart" },
			{ "Action" : "Text.SelectToPreviousWordEnd" },
			{ "Action" : "Text.SelectToPreviousWordPart" },
			{ "Action" : "Text.SelectToPreviousLine" },
			{ "Action" : "Text.SelectToPreviousPage" },
			{ "Action" : "Text.SelectToPreviousStutteredPage" },
			{ "Action" : "Text.SelectToPreviousPair" },
			{ "Action" : "Text.SelectToPreviousParagraph" },
			{ "Action" : "Text.SelectToPreviousFold" },
			{ "Action" : "Text.SelectToPreviousScope" },
			{ "Action" : "Text.SelectToPreviousStutteredPage" },
			{ "Action" : "Text.SelectToPreviousIndentation" },
			{ "Separator" : true },
			{ "Action" : "Text.SelectToNextChar" },
			{ "Action" : "Text.SelectToNextWordStart" },
			{ "Action" : "Text.SelectToNextWordEnd" },
			{ "Action" : "Text.SelectToNextWordPart" },
			{ "Action" : "Text.SelectToNextLine" },
			{ "Action" : "Text.SelectToNextPage" },
			{ "Action" : "Text.SelectToNextStutteredPage" },
			{ "Action" : "Text.SelectToNextPair" },
			{ "Action" : "Text.SelectToNextParagraph" },
			{ "Action" : "Text.SelectToNextFold" },
			{ "Action" : "Text.SelectToNextScope" },
			{ "Action" : "Text.SelectToNextStutteredPage" },
			{ "Action" : "Text.SelectToNextIndentation" },
			{ "Separator" : true },
			{ "Action" : "Text.SelectToPairStart" },
			{ "Action" : "Text.SelectToLineHome" },
			{ "Action" : "Text.SelectToDocumentStart" },
			{ "Separator" : true },
			{ "Action" : "Text.SelectToPairEnd" },
			{ "Action" : "Text.SelectToLineEnd" },
			{ "Action" : "Text.SelectToDocumentEnd" }
		]},
		{ "Menu" : "Select &Column To", "Actions" : [
			{ "Action" : "Text.SelectColumnToPreviousChar" },
			{ "Action" : "Text.SelectColumnToPreviousLine" },
			{ "Action" : "Text.SelectColumnToPreviousStutteredPage" },
			{ "Action" : "Text.SelectColumnToPreviousParagraph" },
			{ "Separator" : true },
			{ "Action" : "Text.SelectColumnToNextChar" },
			{ "Action" : "Text.SelectColumnToNextLine" },
			{ "Action" : "Text.SelectColumnToNextStutteredPage" },
			{ "Action" : "Text.SelectColumnToNextParagraph" },
			{ "Separator" : true },
			{ "Action" : "Text.SelectColumnToLineHome" },
			{ "Action" : "Text.SelectColumnToLineEnd" }
		]},
		{ "Separator" : true },
		{ "Action" : "Text.ActivateNextSelection" },
		{ "Action" : "Text.ActivatePreviousSelection" },
		{ "Separator" : true },
		{ "Action" : "Text.LockSelection" },
		{ "Action" : "Text.DropSelection" },
		{ "Action" : "Text.CancelSelection" },
		{ "Separator" : true },
		{ "Action" : "Text.SplitSelection" },
		{ "Action" : "Text.InvertSelection" },
		{ "Action" : "Text.SwitchStreamColumn" },
		{ "Action" : "Text.ExchangeCaretAnchor" }
	],
	"Goto" : [
		{ "Action" : "Window.GotoAddressBar" },
		{ "Separator" : true },
		{ "Action" : "Window.GotoSession" },
		{ "Action" : "Window.GotoLine" },
		{ "Action" : "Window.GotoSymbol" },
		{ "Separator" : true },
		{ "Action" : "Text.MoveToPreviousChar" },
		{ "Action" : "Text.MoveToNextChar" },
		{ "Action" : "Text.MoveToPreviousLine" },
		{ "Action" : "Text.MoveToNextLine" },
		{ "Separator" : true },
		{ "Menu" : "&Word", "Actions" : [
			{ "Action" : "Text.MoveToPreviousWordStart" },
			{ "Action" : "Text.MoveToPreviousWordEnd" },
			{ "Action" : "Text.MoveToPreviousWordPart" },
			{ "Separator" : true },
			{ "Action" : "Text.MoveToNextWordStart" },
			{ "Action" : "Text.MoveToNextWordEnd" },
			{ "Action" : "Text.MoveToNextWordPart" }
		]},
		{ "Menu" : "&Page", "Actions" : [
			{ "Action" : "Text.MoveToPreviousPage" },
			{ "Action" : "Text.MoveToNextPage" },
			{ "Separator" : true },
			{ "Action" : "Text.MoveToPreviousStutteredPage" },
			{ "Action" : "Text.MoveToNextStutteredPage" }
		]},
		{ "Menu" : "&Paragraph", "Actions" : [
			{ "Action" : "Text.MoveToPreviousParagraph" },
			{ "Action" : "Text.MoveToNextParagraph" }
		]},
		{ "Menu" : "&Command", "Actions" : [
			{ "Action" : "Terminal.MoveToPreviousCommand" },
			{ "Action" : "Terminal.MoveToNextCommand" }
		]},
		{ "Menu" : "&Fold", "Actions" : [
			{ "Action" : "Text.MoveToPreviousFold" },
			{ "Action" : "Text.MoveToNextFold" }
		]},
		{ "Menu" : "&Scope", "Actions" : [
			{ "Action" : "Text.MoveToPreviousScope" },
			{ "Action" : "Text.MoveToNextScope" }
		]},
		{ "Menu" : "&Indentation", "Actions" : [
			{ "Action" : "Text.MoveToPreviousIndentation" },
			{ "Action" : "Text.MoveToNextIndentation" }
		]},
		{ "Separator" : true },
		{ "Menu" : "&Pair", "Actions" : [
			{ "Action" : "Text.MoveToPairStart" },
			{ "Action" : "Text.MoveToPairEnd" },
			{ "Separator" : true },
			{ "Action" : "Text.MoveToPreviousPair" },
			{ "Action" : "Text.MoveToNextPair" }
		]},
		{ "Menu" : "&Line", "Actions" : [
			{ "Action" : "Text.MoveToLineHome" },
			{ "Action" : "Text.MoveToLineEnd" }
		]},
		{ "Menu" : "&Document", "Actions" : [
			{ "Action" : "Text.MoveToDocumentStart" },
			{ "Action" : "Text.MoveToDocumentEnd" }
		]}
	],
	"View" : [
		{ "Action" : "Window.ShowPaletteAnything" },
		{ "Action" : "Window.ShowPaletteCommand" },
		{ "Action" : "Window.ShowPaletteMultiplexer" },
		{ "Separator" : true },
		{ "Menu" : "Hex &Base", "Actions" : [
			{ "Action" : "Text.HexBaseBinary" },
			{ "Action" : "Text.HexBaseSeptenary" },
			{ "Action" : "Text.HexBaseOctal" },
			{ "Action" : "Text.HexBaseDecimal" },
			{ "Action" : "Text.HexBaseHexadecimal" }
		]},
		{ "Menu" : "Hex &Columns", "Actions" : [
			{ "Action" : "Text.HexShow8Columns" },
			{ "Action" : "Text.HexShow16Columns" },
			{ "Action" : "Text.HexShow24Columns" },
			{ "Action" : "Text.HexShow32Columns" }
		]},
		{ "Menu" : "Hex &Group Chars", "Actions" : [
			{ "Action" : "Text.HexGroupChar" },
			{ "Action" : "Text.HexGroupWord" },
			{ "Action" : "Text.HexGroupDoubleWord" },
			{ "Action" : "Text.HexGroupQuadWord" }
		]},
		{ "Separator" : true },
		{ "Menu" : "&Bars", "Actions" : [
			{ "Action" : "Window.ToggleMenuBar" },
			{ "Action" : "Window.ToggleStatusBar" },
			{ "Menu" : "&Toolbar", "Actions" : [
				{ "Action" : "Window.ToolbarList" },
				{ "Separator" : true },
				{ "Action" : "Window.ToolbarCustomize" }
			]},
			{ "Separator" : true },
			{ "Action" : "Window.ToggleQuickBar" }
		]},
		{ "Menu" : "&Panes", "Actions" : [
			{ "Action" : "Window.TogglePaneExplorer" },
			{ "Action" : "Window.TogglePaneFiler" },
			{ "Action" : "Window.TogglePaneOutline" },
			{ "Action" : "Window.TogglePaneSender" },
			{ "Action" : "Window.TogglePaneSession" },
			{ "Action" : "Window.TogglePaneShell" },
			{ "Action" : "Window.TogglePaneTransfer" }
		]},
		{ "Separator" : true },
		{ "Menu" : "S&yntax Schemes", "Actions" : [
			{ "Action" : "Terminal.SchemeList" }
		]},
		{ "Separator" : true },
		{ "Action" : "Text.ToggleCaretLineHighlight" },
		{ "Separator" : true },
		{ "Menu" : "&Margins", "Actions" : [
			{ "Action" : "Text.ToggleMarginBlank" },
			{ "Action" : "Text.ToggleMarginNumber" },
			{ "Action" : "Text.ToggleMarginFold" },
			{ "Action" : "Text.ToggleMarginSymbol" },
			{ "Action" : "Text.ToggleMarginTimestamp" }
		]},
		{ "Menu" : "&Symbols", "Actions" : [
			{ "Action" : "Text.ToggleLineEnding" },
			{ "Separator" : true },
			{ "Action" : "Text.ToggleColumnMarker" },
			{ "Action" : "Text.ToggleIndentGuide" },
			{ "Action" : "Text.ToggleWrapSymbol" }
		]},
		{ "Menu" : "&White Spaces", "Actions" : [
			{ "Action" : "Text.HideWhiteSpace" },
			{ "Separator" : true },
			{ "Action" : "Text.ShowWhiteSpaceAll" },
			{ "Action" : "Text.ShowWhiteSpaceInSelection" },
			{ "Action" : "Text.ShowWhiteSpaceInLineStart" },
			{ "Action" : "Text.ShowWhiteSpaceInLineEnd" }
		]},
		{ "Separator" : true },
		{ "Menu" : "&Folds", "Actions" : [
			{ "Action" : "Text.Fold" },
			{ "Action" : "Text.Unfold" },
			{ "Separator" : true },
			{ "Action" : "Text.FoldInside" },
			{ "Action" : "Text.UnfoldInside" },
			{ "Separator" : true },
			{ "Action" : "Text.FoldAll" },
			{ "Action" : "Text.UnfoldAll" }
		]},
		{ "Separator" : true },
		{ "Menu" : "&Zoom", "Actions" : [
			{ "Action" : "Text.ZoomIn" },
			{ "Action" : "Text.ZoomOut" },
			{ "Separator" : true },
			{ "Action" : "Text.ResetZoom" }
		]},
		{ "Menu" : "Window &Opacity", "Actions" : [
			{ "Action" : "Application.SetWindowTransparent" },
			{ "Action" : "Application.SetWindowTranslucent" },
			{ "Action" : "Application.SetWindowOpaque" },
			{ "Separator" : true },
			{ "Action" : "Application.SetWindowOpacity" }
		]}
	],
	"Mode" : [
		{ "Action" : "Window.SetRemoteMode" },
		{ "Action" : "Window.SetLocalMode" },
		{ "Separator" : true },
		{ "Action" : "Text.ToggleHexEdit" },
		{ "Separator" : true },
		{ "Action" : "Text.ToggleWordWrap" },
		{ "Action" : "Text.ToggleVirtualSpace" },
		{ "Action" : "Text.ToggleMultipleCaret" },
		{ "Separator" : true },
		{ "Action" : "Window.ToggleFocusMode" },
		{ "Action" : "Window.OpenFocusModeSettings" },
		{ "Separator" : true },
		{ "Action" : "Window.ToggleFullScreen" },
		{ "Action" : "Window.ToggleAlwaysOnTop" },
		{ "Separator" : true },
		{ "Action" : "Window.LockScreen" },
		{ "Separator" : true },
		{ "Action" : "Window.ToggleDebugMode" }
	],
	"Tool" : [
		{ "Action" : "Terminal.SyncInput" },
		{ "Separator" : true },
		{ "Action" : "Terminal.ManageOneKeys" },
		{ "Action" : "Terminal.ManageTriggers" },
		{ "Action" : "Terminal.ManageTunnels" },
		{ "Separator" : true },
		{ "Menu" : "&Transfer Binary", "Actions" : [
			{ "Action" : "Terminal.SendXModem" },
			{ "Action" : "Terminal.SendYModem" },
			{ "Action" : "Terminal.SendZModem" },
			{ "Separator" : true },
			{ "Action" : "Terminal.ReceiveXModem" },
			{ "Action" : "Terminal.ReceiveYModem" },
			{ "Action" : "Terminal.ReceiveZModem" },
			{ "Separator" : true },
			{ "Action" : "Terminal.CancelModem" }
		]}
	],
	"Window" : [
		{ "Action" : "Window.SplitViewHorizontally" },
		{ "Action" : "Window.SplitViewVertically" },
		{ "Separator" : true },
		{ "Action" : "Window.SplitGroupHorizontally" },
		{ "Action" : "Window.SplitGroupVertically" },
		{ "Menu" : "&Merge To Group", "Actions" : [
			{ "Action" : "Window.MoveGroupToGroup" }
		]},
		{ "Action" : "Window.CloseActiveGroup" },
		{ "Separator" : true },
		{ "Action" : "Window.ActivateNextView" },
		{ "Action" : "Window.ActivatePreviousView" },
		{ "Separator" : true },
		{ "Action" : "Window.WindowManager" },
		{ "Separator" : true },
		{ "Action" : "Window.WindowList" }
	],
	"Help" : [
		{ "Action" : "Help.Help" },
		{ "Action" : "Help.About" }
	]
}
