{
    "filer.autoSyncTerminalFolder": false,
    "modem.alwaysUseDownloadFolder": false,
    "modem.defaultUploadProtocol": "ZMODEM",
    "process.locale": "Automatic",
    "serial.baudRate": 9600,
    "serial.dataBits": 8,
    "serial.flowControl": "None",
    "serial.parity": "None",
    "serial.stopBits": 1,
    "session.allowRemoteReadClipboard": 2,
    "session.allowRemoteWriteClipboard": 2,
    "session.autoExecutionDelay": 1,
    "session.charset": "UTF-8",
    "session.connectionTimeout": 20,
    "session.icon": "auto",
    "session.keepAlive": 60,
    "session.logFilePath": "%n_%Y-%m-%d_%H-%M-%S.log",
    "session.logFileSize": 0,
    "session.logPattern": "[%Y-%m-%d %H:%M:%S] %v",
    "session.logType": 0,
    "session.logOption": 1,
    "session.proxy": "None",
    "session.proxyDns": true,
    "session.proxyWorkingDirectory" : "${HomeDir}",
    "session.system": "linux",
    "session.tcpLowDelay": true,
    "session.tcpKeepAlive": false,
    "session.tcpReceiveBufferSize": 0,
    "session.tcpSendBufferSize": 0,
    "session.term": "xterm-256color",
    "sftp.fileCreationPermissions": "644",
    "sftp.folderCreationPermissions": "755",
    "sftp.fixInvalidPathCharacters": true,
    "sftp.preserveOriginalFileModifyTime": true,
    "sftp.preserveOriginalFolderModifyTime": false,
    "shell.sysmon": true,
    "ssh.agentForwarding": false,
    "ssh.authAgent": false,
    "ssh.authGssapiWithMic": true,
    "ssh.authKeyboardInteractive": true,
    "ssh.authPassword": true,
    "ssh.authPublicKey": true,
    "ssh.rekeyDataLimit": 1000,
    "ssh.rekeyTimeLimit": 60,
    "ssh.sftp": true,
    "ssh.sysmon": false,
    "ssh.verifyServerFingerprint": true,
    "ssh.x11": false,
    "terminal.altModifierKey": 0,
    "terminal.answerBack": "Wind",
    "terminal.autoWrapMode": true,
    "terminal.backspaceKey": 0,
    "terminal.bellInterval": 2,
    "terminal.bellStyle": 1,
    "terminal.cursorKeysMode": 0,
    "terminal.deleteKey": 0,
    "terminal.eraseWithBackground": true,
    "terminal.formatOtherKeys": 0,
    "terminal.metaModifierKey": 1,
    "terminal.newLineMode": false,
    "terminal.numericKeypadMode": 0,
    "terminal.reverseScreenMode": false,
    "transfer.congestionStrategy": "aggressive",
    "transfer.enableAsyncFile": true,
    "transfer.enableMappedFile": false,
    "transfer.enableNullFile": false,
    "transfer.handlers": 8,
    "transfer.maxFileDescriptors": 16,
    "transfer.maxHandlers": 128,
    "transfer.maxLocalChunkSize": 0,
    "transfer.maxRemoteChunkSize": 0,
    "window.altScreen.wordSeparators": "`!@#$^*()=[{]}|;:'\",<>?",
    "window.autoAdjustRowsAndColumns": true,
    "window.autoAdjustTabTitle": false,
    "window.mouseWheelScrollLines": 1,
    "window.scrollbackLimit": 999999,
    "window.timestampFormat": "[HH:mm:ss]",
    "window.timestampLongFormat": "yyyy-MM-dd HH:mm:ss",
    "window.caretStyle": "block",
    "window.columns": 80,
    "window.rows": 24,
    "window.wordSeparators": "`!@#$^*()=[{]}|;:'\",<>?",
    "xmodem.packetSize": 128,
    "xmodem.uploadCommand": "rx\r",
    "ymodem.packetSize": 1024,
    "ymodem.uploadCommand": "rb\r",
    "zmodem.uploadCommand": "rz\r"
}