{
    "Kit" : [
	    { "ToolBar" : "Standard" }
	],
    "Standard" : [
		{ "Action" : "Terminal.NewSession", "Menu" : "Open Recent"},
		{ "Action" : "Terminal.DisconnectSession" },
		{ "Action" : "Terminal.ReconnectSession" },
		{ "AddressBar" : true },
		{ "Action" : "Window.KitMore", "Menu" : "Kit More" }
	],
    "ExplorerPane" : [
        { "FilterEdit" : true }
    ],
	"FilerPane" : [
        { "FilterEdit" : true },
		{ "Action" : "FilerPane.Cdup", "Menu": "Filer History" },
		{ "Action" : "FilerPane.Refresh" },
        { "Action" : "FilerPane.More", "Menu": "Filer More" }
	],
    "OutlinePane" : [
        { "FilterEdit" : true },
        { "Action" : "OutlinePane.More", "Menu": "Outline More" }
    ],
	"OutputPane" : [
		{ "Action" : "OutputPane.CurrentTool", "Menu" : "Output List" },
		{ "Action" : "OutputPane.StopTool" },
		{ "Action" : "OutputPane.ClearText" },
		{ "Separator" : true },
		{ "Action" : "OutputPane.LocateMessage" },
		{ "Action" : "OutputPane.LocatePreviousMessage" },
		{ "Action" : "OutputPane.LocateNextMessage" },
        { "Action" : "OutputPane.ToggleTabbar" }
	],
	"SenderPane" : [
		{ "Action" : "SenderPane.StartSender" },
		{ "Action" : "SenderPane.StopSender" },
		{ "Action" : "SenderPane.AddSender" },
		{ "Action" : "SenderPane.RemoveSender" },
		{ "Action" : "SenderPane.ClearSender" },
		{ "Separator" : true }
	],
	"SessionPane" : [
	    { "FilterEdit" : true }
	]
}